.col-xs-8.col-xs-offset-2
	p.font-title Log error
.col-xs-2.text-right.p-0.p-bottom-5
	button.btn.btn-sm.btn-danger(type='button' ng-click='deleteAll();' ng-disabled='!grid.data.length')
		i.glyphicon.glyphicon-trash
		| 	Remove all
.col-xs-12.p-0
	#grid(ui-grid='grid' ui-grid-selection ui-grid-resize-columns)