doctype html
html(lang='ro')
	head
		if !!bootstrappedUser
			script.
				window.bootstrappedUser = !{JSON.stringify(bootstrappedUser)}
	include ../../public/app/client/index

script(type='text/javascript').
	window.onload = function () {
		window.moveTo(0, 0);
		window.resizeTo(screen.availWidth, screen.availHeight);
	};
