.modal-header
	span Reset Password
.modal-body
	.row
		form.form-horizontal(ng-keypress='($event.which === 13) ? save() : 0')
			.col-md-12.p-bottom-10
				label.control-label.col-md-4 Old password
				.col-md-5
					input.form-control(ng-model='modal.oldPass' maxlength=255 auto-focus ng-blur='checkPassword(modal.oldPass)')
			.col-md-12.p-bottom-10
				label.control-label.col-md-4 New password
				.col-md-5
					input.form-control(ng-model='modal.newPass' maxlength=255)
			.col-md-12.p-bottom-10
				label.control-label.col-md-4 Check new password
				.col-md-5
					input.form-control(ng-model='modal.checkPass' maxlength=255)
.modal-footer
	button.btn.btn-sm.btn-default(ng-click='$dismiss();') Cancel
	button.btn.btn-sm.btn-success.btn-md(ng-click='save();') Save