.modal-header
	span(ng-bind='(mm.modal.id ? "Edit" : "Add") + " movie"')
.modal-body
	.row
		form.form-horizontal
			.col-xs-12.p-bottom-5
				label.control-label.col-xs-2 Name
				.col-xs-9.p-0
					input.form-control.input-sm(ng-model='mm.modal.name' maxlength=255 autofocus ng-change='mm.required.name = !mm.modal.name' ng-class='{"bg-danger-i" : mm.required.name}' required)
			.col-xs-12.p-bottom-5
				label.control-label.col-xs-2 Year
				.col-xs-3.p-0
					.input-group
						input.form-control.input-sm.text-center(uib-datepicker-popup='yyyy' ng-model='mm.modal.year' is-open='op[0]'
						datepicker-options='{minMode: "year"}' readonly local-date ng-click='op[0]=!op[0];' datepicker-append-to-body='true')
						span.input-group-btn
							button.btn.btn-sm.btn-default(type='button' ng-click='op[0]=!op[0];')
								i.glyphicon.glyphicon-calendar
				label.control-label.col-xs-2 View Date
				.col-xs-4.p-0
					.input-group
						input.form-control.input-sm.text-center(uib-datepicker-popup='dd.MM.yyyy' ng-model='mm.modal.view_date' is-open='op[1]'
						datepicker-options='{showWeeks: false}' readonly local-date ng-click='op[1]=!op[1];' datepicker-append-to-body='true')
						span.input-group-btn
							button.btn.btn-sm.btn-default(type='button' ng-click='op[1]=!op[1];')
								i.glyphicon.glyphicon-calendar
			.col-xs-12.p-bottom-5
				label.control-label.col-xs-2 Gender
				.col-xs-9.p-0
					ui-select.p-right-10(ng-model='mm.modal.ids_gender' multiple append-to-body='true')
						ui-select-match.width-100-pr(placeholder='Select gender') {{$item.name}}
						ui-select-choices(repeat='s.id as s in mm.draftGenders | propsFilter: {name: $select.search}' position='down')
							div(ng-bind='::s.name')
			.col-xs-12.p-bottom-5
				label.control-label.col-xs-2 Director
				.col-xs-9.p-0
					ui-select.p-right-10(ng-model='mm.modal.ids_director' multiple append-to-body='true')
						ui-select-match.width-100-pr(placeholder='Select director') {{$item.name}}
						ui-select-choices(repeat='s.id as s in mm.actors | propsFilter: {name: $select.search}' position='down')
							div(ng-bind='::s.name')
			.col-xs-12.p-bottom-5
				label.control-label.col-xs-2 Writer
				.col-xs-9.p-0
					ui-select.p-right-10(ng-model='mm.modal.ids_writer' multiple append-to-body='true')
						ui-select-match.width-100-pr(placeholder='Select writer') {{$item.name}}
						ui-select-choices(repeat='s.id as s in mm.actors | propsFilter: {name: $select.search}' position='down')
							div(ng-bind='::s.name')
			.col-xs-12.p-bottom-5
				label.control-label.col-xs-2 Stars
				.col-xs-9.p-0
					ui-select.p-right-10(ng-model='mm.modal.ids_star' multiple append-to-body='true')
						ui-select-match.width-100-pr(placeholder='Select stars') {{$item.name}}
						ui-select-choices(repeat='s.id as s in mm.actors | propsFilter: {name: $select.search}' position='down')
							div(ng-bind='::s.name')
			.col-xs-12.p-bottom-5
				label.control-label.col-xs-2 Note IMDb
				.col-xs-1.p-0
					input.form-control.input-sm(ng-model='mm.modal.note_imdb' allow-decimals=1 maxlength=4)
				label.control-label.col-xs-2 Link IMDb
				.col-xs-6.p-0
					.input-group
						input.form-control.input-sm(ng-model='mm.modal.link_imdb')
						span.input-group-btn
							a.btn.btn-sm.btn-default(type='button' href='{{mm.modal.link_imdb}}' target='_blank')
								i.glyphicon.glyphicon-link
			.col-xs-12.p-bottom-5
				label.control-label.col-xs-2 Note Cinemagia
				.col-xs-1.p-0
					input.form-control.input-sm(ng-model='mm.modal.note_cinemagia' allow-decimals=1 maxlength=4)
				label.control-label.col-xs-2 Link Cinemagia
				.col-xs-6.p-0
					.input-group
						input.form-control.input-sm(ng-model='mm.modal.link_cinemagia')
						span.input-group-btn
							a.btn.btn-sm.btn-default(type='button' href='{{mm.modal.link_cinemagia}}' target='_blank')
								i.glyphicon.glyphicon-link
			.col-xs-12.p-bottom-5
				label.control-label.col-xs-2 Note Cinemarx
				.col-xs-1.p-0
					input.form-control.input-sm(ng-model='mm.modal.note_cinemarx' allow-decimals=1 maxlength=4)
				label.control-label.col-xs-2 Link Cinemarx
				.col-xs-6.p-0
					.input-group
						input.form-control.input-sm(ng-model='mm.modal.link_cinemarx')
						span.input-group-btn
							a.btn.btn-sm.btn-default(type='button' href='{{mm.modal.link_cinemarx}}' target='_blank')
								i.glyphicon.glyphicon-link
			.col-xs-12
				label.control-label.col-xs-2 Description
				.col-xs-9.p-0
					textarea.form-control.input-sm(ng-model='mm.modal.description' rows=1 auto-grow allow-tab)
.modal-footer
	button.btn.btn-sm.btn-default(ng-click='mm.close(mm.modal);')
		i.fa.fa-window-close-o
		span Cancel
	button.btn.btn-sm.btn-success(ng-if='!mm.modal.id_movie_from' ng-click='mm.save(mm.modal);')
		i.fa.fa-check
		span(ng-bind='mm.modal.id ? "Save" : "Add"')
