.modal-header
	span Resetare parolă
.modal-body
	.row
		form.form-horizontal(ng-keypress='($event.which === 13) ? save() : 0')
			.col-md-12.p-bottom-5
				label.control-label.col-md-4 Old password
				.col-md-6.p-0
					input.input-sm.form-control(ng-model='modal.oldPass' maxlength=255 autofocus)
			.col-md-12.p-bottom-5
				label.control-label.col-md-4 New password
				.col-md-6.p-0
					input.input-sm.form-control(ng-model='modal.newPass' maxlength=255)
			.col-md-12
				label.control-label.col-md-4 Check new password
				.col-md-6.p-0
					input.input-sm.form-control(ng-model='modal.checkPass' maxlength=255)
.modal-footer
	button.btn.btn-sm.btn-default(ng-click='$dismiss()')
		i.fa.fa-close
			|		Cancel
	button.btn.btn-sm.btn-success(ng-click='save()')
		i.fa.fa-save
		|		Save