.modal-header
    span.font-modal  Editare profil
.modal-body
    .row
        form.form-horizontal(ng-keypress='($event.which === 13) ? save() : 0')
            .col-sm-12.p-bottom-10
                label.control-label.col-sm-3 Numele
                .col-sm-7
                    input.form-control(ng-model='modal.last_name' maxlength=255)
            .col-sm-12.p-bottom-10
                label.control-label.col-sm-3 Prenumele
                .col-sm-7
                    input.form-control(ng-model='modal.first_name' maxlength=255)
            .col-sm-12.p-bottom-10
                label.control-label.col-sm-3 Email
                .col-sm-7
                    input.form-control(ng-model='modal.email' maxlength=255 ng-blur='verifyCuiEmail()')
            .col-sm-12.p-bottom-10
                label.control-label.col-sm-3 Telefon
                .col-sm-7
                    input.form-control(allow-number minlength=10 maxlength=11 ng-model='modal.phone')
.modal-footer
    button.btn.btn-sm.btn-default(ng-click='cancel()') Cancel
    button.btn.btn-sm.btn-success(ng-click='save()') Saave