.modal-header
  span Reset password for user: {{::row.first_name}} {{::row.last_name}}
.modal-body
  .row
    form.form-horizontal
      .col-xs-12.p-bottom-5
        .col-xs-8.col-xs-offset-4
          .checkbox.m-left-5.p-top-0
            label.control-label
              input(type='checkbox' ng-model='modal.randomPassword' ng-change='deletePassword(modal.randomPassword)')
              b   Generate random password
      .col-xs-12
        label.control-label.col-xs-4 New Password
        .col-xs-7
          input.form-control.input-sm(ng-model='modal.pass' ng-disabled='modal.randomPassword' maxlength=255)
.modal-footer
  button.btn.btn-sm.btn-default(ng-click='$dismiss();') Cancel
  button.btn.btn-sm.btn-success(ng-click='save();') Reset